<!DOCTYPE html>

<html>
    <head>
        <h1>Contact Form</h1>
        <style>
            body {
                background-color: gray;
            }
            label{
                display: block;
            }
        </style>
        {% comment %} <link rel="stylesheet" href="index.css"> {% endcomment %}
    </head>


    <body>
        


        <form method="post" action=".">
            {% csrf_token %}
            
            {{ form.as_p }}
            
            <button>Submit</button>
        </form>
    </body>

</html>
