<!DOCTYPE html>

<html>
    <head>
        <h1>Contact Form</h1>
        <style>
            body {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                min-height: 100vh;
                margin: 0;
            }
    
            .content {
                text-align: center;
                width: 80%;
                margin-top: 20px; /* Adjust margin as needed */
            }
        </style>
        <style>
            body {
                background-color: gray;
            }
        </style>
    </head>


    <body>
        


        <form method="post" action=".">
            {% csrf_token %}
            
            {{ form.as_p }}

            <button>Submit</button>
        </form>
    </body>

</html>
