<!DOCTYPE html>

<html>
    <head>
        <title>Contact Form</title>
        <style>
            body {
                background-color: #6a8eb0;
                {% comment %} display: flex;
                position: reletive;
                justify-content: center;
                align-items: center; {% endcomment %}
                
            }
            label{
                display: block;
            }
            <h1>
                color: red;
            </h1>
        </style>
        {% comment %} <link rel="stylesheet" href="index.css"> {% endcomment %}
    </head>
    
    
    <body>
        <h1>Contact Form</h1>
        


        <form method="post" action=".">
            {% csrf_token %}
            
            {{ form.as_p }}
            
            <button>Submit</button>
        </form>
    </body>

</html>
